body{
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190621/ourmid/pngtree-teacher-s-college-classroom-coaching-course-poster-background-image_188494.jpg);
    background-size: 1700px 1100px;
    background-repeat: no-repeat;
    background-position: center;
}